<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h3>Student Registration Form</h3>

    <form th:action="@{/process-student-form}" th:object="${student}" method="POST">
        First Name:  <input type="text" th:field="*{firstName}" />
        <br><br>
        Last Name:  <input type="text" th:field="*{lastName}" />
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
        <br><br>
        Country:
        <select th:field="*{country}">
            <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>
        <br><br>
        Favorite Language:
        <input th:field="*{favoriteLanguage}" th:each="tempLanguage: ${languages}" th:value="${tempLanguage}" th:text="${tempLanguage}" type="radio" />
        <br><br>
        Favorite Operating Systems:
        <input  th:field="*{favoriteOS}" type="checkbox" th:each="os: ${operatingSystems}" th:value="${os}" th:text="${os}" />
        <br><br>
        Free Passes:
        <input type="number" th:field="*{freePasses}" />
        <span th:if="${#fields.hasErrors('freePasses')}" th:errors="*{freePasses}" class="error"></span>
        <br><br>
        Postal Code:
        <input type="text" th:field="*{postCode}" />
        <span th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}" class="error"></span>
        <br><br>
        Student Code:
        <input type="text" th:field="*{studentCode}" />
        <span th:if="${#fields.hasErrors('studentCode')}" th:errors="*{studentCode}" class="error"></span>
        <br><br>
        <input type="submit" />
    </form>
</body>
</html>