<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <h3>Student Registration Form</h3>

    <form th:action="@{/process-student-form}" th:object="${student}" method="POST">
        First Name:  <input type="text" th:field="*{firstName}" />
        <br><br>
        Last Name:  <input type="text" th:field="*{lastName}" />
        <br><br>
        Country:
        <select th:field="*{country}">
            <option th:each="tempCountry: ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>
        <br><br>
        Favorite Language:
        <input th:field="*{favoriteLanguage}" th:each="tempLanguage: ${languages}" th:value="${tempLanguage}" th:text="${tempLanguage}" type="radio" />
        <br><br>
        <input type="submit" />
    </form>
</body>
</html>